---
import SvgLoader from "../../assets/SvgLoader.astro";
---

<div class="absolute w-full h-full bg-red-200 opacity-10 z-10">
  <div
    id="l1"
    class="absolute -top-[12rem] -left-[10rem] w-3/4 -rotate-[35deg]"
  >
    <SvgLoader icon="grass" />
  </div>
  <div
    id="l2"
    class="absolute -bottom-[12rem] -left-[10rem] w-3/4 -rotate-[135deg]"
  >
    <SvgLoader icon="grass" />
  </div>
  <div
    id="l3"
    class="absolute -top-[12rem] -right-[10rem] w-3/4 rotate-[35deg]"
  >
    <SvgLoader icon="grass" />
  </div>
  <div
    id="l4"
    class="absolute -bottom-[12rem] -right-[8rem] w-3/5 rotate-[150deg]"
  >
    <SvgLoader icon="grass" />
  </div>
</div>
