---
import { Image } from "astro:assets";
import Profile from "../../assets/carissa.jpg";
import { certifications } from "../../assets";
import SectionWrapper from "../layouts/SectionWrapper.astro"
import Title from "../layouts/Title.astro";
import Text from "../layouts/Text.astro"
---

<>
  <section id="about">
    <SectionWrapper>
      <div class="flex flex-col w-full gap-4">
        <div class="pb-20">
          <Title>
            About<span class="italic"> Me. </span>

          </Title>
        </div>
        <div class="content-area">
          <div class="flex flex-col w-full gap-6">
            <div class="flex-1 flex flex-col items-start pt-10">
              <h1
                class="flex lora tracking-widest text-2xl font-semibold text-ng-primary-darker pb-4"
              >
                Education and Experience
              </h1>
              <Text>
                I am a Registered Psychotherapist and a graduate of Trinity
                Western University, where I earned my Master’s degree in
                Counselling Psychology. Over the past three years, I have worked
                at various community agencies, assessing and supporting clients
                with depression, anxiety, trauma experiences, chronic pain,
                identity issues, academic concerns, and relationship concerns.
              </Text>    
              <div class="pt-8 w-full">
                <h1
                  class="lora text-2xl font-semibold text-ng-primary-darker pb-4 text-left tracking-wider"
                >
                  Additional Training and Certifications
                </h1>
                <div class="flex flex-col">
                  {
                    certifications.map((item) => {
                      return (
                        <div class="text-ng-text-content text-left font-[300] leading-8">
                          - {item.title}
                        </div>
                      );
                    })
                  }
                </div>
              </div>
              <div class="pt-8">
                <Text
               
              >
                I believe that every human deserves to have their story seen,
                heard, and understood. This can be especially important in our
                busy world where it can be difficult to take the time to slow
                down and truly listen.
            </Text>
              </div>

            </div>
          </div>
          <div class="flex flex-col w-full gap-4 items-center lg:items-end">
            <div
              class="flex lg:justify-end justify-center items-center h-full lg:w-full w-2/3 max-w-[600px] pl-6"
            >
              <Image
                src={Profile}
                alt="Carissa Ng"
                class="aspect-square object-contain"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </SectionWrapper>
  </section>

</>

<style>
  @media only screen and (max-width: 1000px) {
    .content-area {
      display: flex;
      flex-direction: column-reverse;
      gap: 4rem;
    }
  }

  @media only screen and (min-width: 999px) {
    .content-area {
      display: grid;
      grid-template-columns: 55% 45%;
      /* gap: 1rem; */
      width: 100%;
    }
  }
</style>
