---
import { Image } from 'astro:assets';
import Profile from "../../../public/carissa.jpg"
---

<section id="#about" class="bg-custom-gradient min-h-[70vh]">
    <div class="flex center-div py-20">
        <div class="flex justify-center items-center gap-10 lg:flex-row flex-col">

        </div>
    </div>
</section>