---
import { Image } from "astro:assets";
import Profile from "../../assets/carissa.jpg";
import { certifications } from "../../assets";
import SectionWrapper from "../layouts/SectionWrapper.astro";
import Title from "../layouts/Title.astro";
import Text from "../layouts/Text.astro";
import SubTitle from "../layouts/SubTitle.astro";
---

<SectionWrapper id="about">
  <div class="flex flex-col lg:w-full mx-auto gap-4">
    <div class="pb-10">
      <Title>
        About<span class="italic"> Me. </span>
      </Title>
    </div>
    <div class="flex flex-col gap-10">
      <div
        class="flex flex-col gap-4 text-ng-text-content text-base font-[500] leading-5 italic"
      >
        <Text>
          As a second-generation Singaporean Canadian, I bring my lived
          experiences into my work, which have been fundamental in cultivating
          my values of curiosity, connection, and consistency.
        </Text>
        <Text>
          Outside of sessions, I care about engaging in self-reflection and am
          passionate about deepening my relationships. My drive and motivation
          comes from my family and friends, and in my spare time, I enjoy
          swimming, reading fiction novels, and attending potlucks.
        </Text>
      </div>
      <div class="flex lg:flex-row flex-col-reverse gap-8">
        <div class="flex flex-col w-full gap-6">
          <div class="flex-1 flex flex-col items-start">
            <div class="flex flex-col gap-4">
              <SubTitle> Education and Experience </SubTitle>
              <Text>
                I am a Registered Psychotherapist with a Master’s of Arts in
                Counselling Psychology. Over the years, I’ve helped individuals
                navigate and explore challenges related to depression, anxiety,
                trauma, communication, cultural and religious identity, academic
                concerns, and relationship concerns.
              </Text>
            </div>

            <div class="pt-8 w-full flex flex-col gap-4">
              <SubTitle> Additional Training and Certifications </SubTitle>
              <div class="flex flex-col">
                {
                  certifications.map((item) => {
                    return (
                      <div class="text-ng-text-content text-left font-[300] leading-8">
                        - {item.title}
                      </div>
                    );
                  })
                }
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col lg:w-3/4 w-full gap-4 items-center">
          <div
            class="relative flex lg:justify-start lg:ml-20 justify-center items-star w-fullt min-w-[100px] max-w-[250px] md:max-w-[350px] lg:max-w-[350px] lg:max-h-max max-h-[600px]"
          >
            <Image
              src={Profile}
              alt="Carissa Ng"
              class="h-full aspect-[9/14] object-cover z-20"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</SectionWrapper>
