---
import SectionWrapper from "../layouts/SectionWrapper.astro";
import Title from "../layouts/Title.astro";
import Text from "../layouts/Text.astro";
---

<div class="relative bg-ng-secondary-content h-full">
  <SectionWrapper id="about-2">
    <div
      class="flex flex-col lg:flex-row justify-around lg:min-w-[900px] h-full max-w-[1400px] mx-auto w-full lg:py-0 py-20"
    >
      <div class="flex flex-col justify-around lg:min-h-[28rem]">
        <div class="flex flex-col gap-8">
          <Title>
            My <span class="italic">Approach</span>
          </Title>
          <ul
            class="text-ng-primary-darker tracking-wider flex flex-row gap-4 lg:gap-0 lg:justify-start justify-center lg:flex-col lg:text-lg flex-wrap"
          >
            <li>RELATIONAL</li>
            <li>WARM</li>
            <li>SYSTEMS-ORIENTED</li>
          </ul>
        </div>
      </div>
      <div
        class="border-opacity-60 border border-ng-primary-darker clamp my-10"
      >
      </div>
      <div class="flex flex-col w-full gap-6 flex-1">
        <Text
          >I believe that every human deserves to have their story seen, heard,
          and understood. This can be especially important in our busy world
          where it can be difficult to take the time to slow down and truly
          listen. I believe you are the expert of your own life, and offer
          therapy that is person-centered, systems-oriented, and
          emotionally-focused.</Text
        >
        <Text
          >I work with various modalities to inform the way I will hold your
          unique story, relational dynamics and patterns, and the other systems
          you exist within. This includes Internal Family Systems (IFS),
          Accelerated Dynamic Experiential Psychotherapy (AEDP), Acceptance and
          Commitment Therapy (ACT), and Dialectical Behavioural Therapy (DBT),
          among others. I will support you to deepen insight into how your
          experiences have informed your current sense of self and learn new
          ways of moving through your experiences so that you can live in
          alignment with your values, identity, and relationships</Text
        >
      </div>
    </div>
  </SectionWrapper>
</div>

<style>
  .clamp {
    margin-inline: clamp(2%, 10%, 15%);
  }

  .clamp-2 {
    padding-inline: clamp(2%, 5%, 15%);
  }
</style>
