---
import SectionWrapper from "../layouts/SectionWrapper.astro";
import Title from "../layouts/Title.astro";
import Text from "../layouts/Text.astro";
---

<div class="relative bg-ng-secondary-content h-full">
  <SectionWrapper id="about-2">
    <div
      class="flex flex-col lg:flex-row justify-around lg:min-w-[900px] h-full max-w-[1400px] mx-auto w-full lg:py-0 py-20"
    >
      <div class="flex flex-col justify-around lg:min-h-[28rem]">
        <div class="flex flex-col gap-8">
          <Title>
            My <span class="italic">Approach</span>
          </Title>
          <ul
            class="text-ng-primary-darker tracking-wider flex flex-row gap-4 lg:gap-0 lg:justify-start justify-center lg:flex-col lg:text-lg flex-wrap"
          >
            <li>RELATION</li>
            <li>WARM</li>
            <li>SYSTEMS-ORIENTED</li>
          </ul>
        </div>
      </div>
      <div
        class="border-opacity-60 border border-ng-primary-darker clamp my-10"
      >
      </div>
      <div class="flex flex-col w-full gap-6 flex-1">
        <Text
          >Duis elementum neque at magna lobortis, vel volutpat lacus elementum.
          Suspendisse congue non nibh et scelerisque. Maecenas molestie posuere
          turpis ac fermentum. Sed sed justo tempor justo blandit laoreet rutrum
          eget purus. Pellentesque orci ligula, vulputate eget dictum in,
          dignissim sed nisl. Sed ut magna vestibulum, cursus mi at, fermentum
          mauris. Nulla facilisi. Cras tincidunt, turpis id suscipit pulvinar,
          quam lorem tempus velit, eget feugiat magna lorem vitae nibh. Ut sed
          molestie eros, et eleifend ante. Nulla viverra dictum sem, at cursus
          purus molestie quis. Nunc at porttitor felis, non luctus ipsum.</Text
        >
        <Text
          >Curabitur ut porta dui. Phasellus lacinia dui quis neque facilisis
          consectetur. Fusce augue felis, scelerisque at diam in, feugiat luctus
          purus. Phasellus ac neque luctus, pulvinar ipsum et, maximus risus.
          Nulla egestas, erat vel ultrices rutrum, erat est consequat nisl, non
          rhoncus est tortor vitae turpis</Text
        >
        <h2 class="text-ng-primary-darker tracking-widest text-lg">
          Therapist-client fit is important to the therapy experience
        </h2>
        <p class="text-ng-text-content text-sm font-[300] leading-5 italic">
          Integer sed eros a neque pharetra fermentum ac vel elit. Morbi
          volutpat, leo a rutrum lobortis, ante tortor laoreet risus, in porta
          risus urna ut urna. Proin at odio nunc. Maecenas vel ultrices magna,
          sit amet rutrum tellus.
        </p>
      </div>
    </div>
  </SectionWrapper>
</div>

<style>
  .clamp {
    margin-inline: clamp(2%, 10%, 15%);
  }

  .clamp-2 {
    padding-inline: clamp(2%, 5%, 15%);
  }
</style>
