---

---

<section id="contact" class="">
    <div class="center-div py-32 flex flex-col">

        <div class="flex lg:flex-row flex-col-reverse gap-10">
            <div class="flex flex-col flex-1 gap-10">
                <h1 class="text-xl text-ng-primary-darker tracking-widest font-semibold">Inquiries and Bookings</h1>
                <form class="flex flex-col gap-4">
                    <input type="text" placeholder="First Name" class="border p-2"/>
                    <input type="text" placeholder="Last Name"  class="border p-2"/>
                    <input type="text" placeholder="Email"  class="border p-2"/>
                    <textarea  class="border p-2 min-h-[290px]"/>
                </form>
            </div>
            <div class="flex flex-col flex-1 gap-10">
                <div class="flex flex-col gap-8">
                    <h1 class="text-xl text-ng-primary-darker tracking-widest font-semibold">Book Now</h1>
                    <p class="text-ng-text-content text-md font-[300] leading-8">Please use the contact form if you would like to book an appointment or a 15-minute consultation over the phone. You can also reach me via email if you have any questions. 
                    </p>
                </div>
                <div class="flex flex-col gap-8">
                    <h1 class="text-xl text-ng-primary-darker tracking-widest font-semibold">Available by Appointment Only</h1>
                    <p class="text-ng-text-content text-md font-[300] leading-8">4353 Lancelot Boulevard, London, Manitoba A0A 0A0, Canada
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>