---
import { Image } from "astro:assets";
import Profile from "../../assets/carissa_sitting.jpg";
import Title from "../layouts/Title.astro";
import Text from "../layouts/Text.astro";
import ButtonRoute from "../layouts/ButtonRoute.astro";
import ProfileLeafs from "../animations/ProfileLeafs.astro";
---

<script>
  import "@scripts/landing";
</script>

<section
  id="home"
  class="relative flex justify-start lg:items-start items-center lg:flex-row flex-col center-div lg:py-32 md:py-24 py-16 min-h-[600px] px-4 w-full hidden-custom"
>
  <div
    class="flex justify-start lg:items-start items-center lg:flex-row flex-col z-20 gap-16 lg:gap-0 pt-10 md:pt-0 w-full"
  >
    <!-- image container -->
    <div class="relative flex min-w-[300px] max-w-[400px]">
      <Image
        src={Profile}
        alt="Carissa Ng"
        class="h-full object-cover z-20 border-4 border-ng-primary-darker border-opacity-10"
      />
      <ProfileLeafs />
    </div>
  </div>
  <!-- Content container -->
  <div
    class="absolute spin right-16 bottom-32 lg:right-[5%] lg:bottom-[15%] text-ng-primary-darker w-[200px] h-[200px] lg:mt-0 mt-14"
  >
    <!-- insert logo here -->
  </div>
  <div
    class="my-auto lg:ml-[2%] lg:gap-4 lg:pl-16 flex flex-col px-0 h-full relative lg:items-start items-center lg:mt-0 mt-14"
  >
    <h3
      class="text-ng-primary-darker tracking-[0.2em] lg:tracking-[0.2em] text-xs lg:text-md font-[400] leading-8 lg:text-left text-center"
    >
      PSYCHOTHERAPIST | RP #13283
    </h3>
    <Title>Welcome! I’m <span class="italic">Carissa.</span></Title>

    <div class="pt-2">
      <Text>
        I’m so glad you’re here. Maybe you’re navigating conflict in your
        relationships, experiencing symptoms of depression and anxiety, or
        struggling to process your emotions. Whatever your reason for being
        here, my hope is to provide a secure base from which you can be more
        grounded in who you are and your story, feel closer to the people you
        care about, and cultivate a life that feels more aligned with your
        values.
      </Text>
      <Text>
        Life is complex and unpredictable, so it would be my deepest privilege
        to join you in your journey as we work together to move through life’s
        challenges and navigate where you would like to go next.
      </Text>
      <ButtonRoute link="#about"> MORE ABOUT ME </ButtonRoute>
    </div>
  </div>
</section>
