---
import { Image } from 'astro:assets';
import Profile from "../../assets/carissa.jpg"
import SvgLoader from '../../assets/SvgLoader.astro';
---

<script>
    import "@scripts/landing";
  </script>
  

<section id="home" class="relative">
    <div class=" flex center-div py-32 min-h-[600px]">
        <div class="flex justify-center lg:items-start items-center gap-10 lg:flex-row flex-col z-20">
            <!-- image container -->
            <div class="relative flex lg:justify-start justify-center items-start aspect-[5/8]  min-w-[200px] max-w-[350px] lg:max-h-max max-h-[600px]">
                <Image src={Profile} alt="Carissa Ng" class="h-full sm:w-full object-cover z-20"/>
                <div  class="absolute w-full h-full bg-red-200 opacity-10 z-10">
                    <div id="l1" class="absolute -top-[12rem] -left-[10rem] w-3/4 -rotate-[35deg]">
                        <SvgLoader icon="grass"/>
                    </div>
                    <div id="l2" class="absolute -bottom-[12rem] -left-[10rem] w-3/4 -rotate-[135deg]">
                        <SvgLoader icon="grass"/>
                    </div>
                    <div id="l3" class="absolute -top-[12rem] -right-[10rem] w-3/4 rotate-[35deg]">
                        <SvgLoader icon="grass"/>
                    </div>
                    <div id="l4" class="absolute -bottom-[12rem] -right-[8rem] w-3/5 rotate-[150deg]">
                        <SvgLoader icon="grass"/>
                    </div>
                 
                </div>
            </div>

            <div class="flex flex-col gap-4 sm:pl-16 px-0 h-full relative lg:items-start items-center">
                <h1 class="text-5xl lora tracking-wide text-ng-primary-darker lg:text-left text-center">Welcome! I’m <span class="italic">Carissa.</span></h1>
                <h3 class="text-ng-primary-darker tracking-[0.2em] text-md font-[400] leading-8 lg:text-left text-center">PSYCHOTHERAPIST | RP #13283</h3>
                <p class="text-ng-text-content text-md font-[300] leading-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque odio eget lacus hendrerit, in mattis turpis scelerisque. Ut lobortis dignissim lorem, posuere egestas ante varius molestie. Etiam laoreet orci ut ipsum suscipit malesuada. Duis at ornare eros. Curabitur fermentum a dolor ornare ornare. Donec ac ex eu erat lacinia eleifend.                 </p>
                <p class="text-ng-text-content text-md font-[300] leading-8">
                    Life can be complex and unpredictable, so I care about providing an inclusive, safe, empathetic, and nonjudgmental space where you can feel comfortable sharing your journey with me. I believe that you are the expert of your own life, and it would be my deepest privilege to walk alongside you while we work together to overcome obstacles and navigate where you would like to go next.
                </p>
                <div class="flex lg:items-end items-center lg:mx-[0px] mx-auto pt-10">
                    <a href="#about" class="min-w-[170px] border py-4 px-6 font-[500] text-sm tracking-widest text-ng-primary border-ng-primary text-nowrap hover:bg-ng-primary hover:text-white transition-colors">
                        MORE ABOUT ME
                    </a>
                </div>
            
            </div>
        </div>


    </div>
</section>