---
import ServiceFormatCard from "../ServiceFormatCard.astro";

import { sessionFormats_2, supportAreas } from "../../assets";
import SectionWrapper from "../layouts/SectionWrapper.astro";
import Title from "../../components/layouts/Title.astro";
import ListItem from "../../components/layouts/ListItem.astro";
import SubTitle from "../../components/layouts/SubTitle.astro";
import ServicesCard from "./ServicesCard.astro";
---

<div class="bg-[#f7f3ee]">
  <SectionWrapper id="services">
    <div class="flex flex-col gap-4 w-full">
      <!-- TITLE -->
      <div class="flex flex-col pb-10 text-white items-center justify-center">
        <Title isWhite={false}>
          <span class="italic">Services.</span>
        </Title>
      </div>
      <!-- CONTENT SERVICES -->
      <div class="flex justify-center items-center gap-20 flex-col w-full">
        <div
          class="inline-grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 lg:gap-0 items-start justify-items-center"
        >
          {
            sessionFormats_2.map((item) => {
              return <ServicesCard {...item} />;
            })
          }
        </div>
        <div class="flex flex-col gap-8 w-[90%] ml-auto py-10">
          <SubTitle> AREAS OF SUPPORT </SubTitle>
          <div
            class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 flex-wrap"
          >
            {
              supportAreas.map((item) => {
                return <ListItem>{item}</ListItem>;
              })
            }
          </div>
        </div>
      </div>
    </div>
  </SectionWrapper>
</div>
