---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Landing from '../components/sections/Landing.astro';
import Services from '../components/sections/Services.astro';
import About from '../components/sections/About.astro';
import Approach from "../components/sections/Approach.astro"
import Footer from 'src/components/Footer.astro';
import Contact from 'src/components/sections/Contact.astro';
import LogoBanner from "src/components/LogoBanner.astro"
---

<script>
	import initObserver from "../scripts/observer";
  
	document.addEventListener("astro:page-load", () => {

	  initObserver();

	});
  </script>

<Layout title="Carissa Ng Counselling">
	<main class="relative flex flex-col min-h-screen mx-auto">
		<Header/>
		<Landing/>
		<LogoBanner banner="https://images.unsplash.com/photo-1566044366987-6de6ca566441?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
		<!-- <Services/> -->
		<About/>
		<Approach/>
		<Contact/>
		<Footer/>
	</main>
</Layout>
