---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Landing from "../components/sections/Landing.astro";
import Services from "../components/sections/Services.astro";
import About from "../components/sections/About.astro";
import Approach from "../components/sections/Approach.astro";
import Footer from "src/components/Footer.astro";
import Contact from "src/components/sections/Contact.astro";
import LogoBanner from "src/components/LogoBanner.astro";
---

<script>
  import initObserver from "../scripts/observer";

  document.addEventListener("astro:page-load", () => {
    initObserver();
  });
</script>

<Layout title="Carissa Ng Counselling">
  <main class="relative flex flex-col min-h-screen mx-auto">
    <Header />
    <Landing />
    <LogoBanner />
    <Services />
    <About />
    <Approach />
    <Contact />
    <Footer />
  </main>
</Layout>
