---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
---

<Layout title="Carissa Ng Counselling">
	<main class="relative flex flex-col min-h-screen mx-auto">
		<Header/>
	</main>
</Layout>
