---
import Layout from "../layouts/Layout.astro";
import HeaderPrivacy from "../components/HeaderPrivacy.astro";
import Title from "src/components/layouts/Title.astro";
import SubTitle from "src/components/layouts/SubTitle.astro";
import Text from "../components/layouts/Text.astro";
---

<Layout title="Privacy Policy">
  <main class="relative flex flex-col min-h-screen mx-auto">
    <HeaderPrivacy />
    <section
      id="privacy-policy"
      class="relative flex flex-col center-div lg:py-32 py-20 min-h-[600px] px-4 gap-4"
    >
      <Title>Privacy Policy</Title>
      <Text>Last updated: August 28, 2024</Text>
      <Text>
        This Privacy Policy describes Our policies and procedures on the
        collection, use and disclosure of Your information when You use the
        Service and tells You about Your privacy rights and how the law protects
        You. We respect your privacy and are committed to protecting personally
        identifiable information you may provide us through the Website. We have
        adopted this Privacy Policy to explain what information may be collected
        on our Website, how we use this information, and under what
        circumstances we may disclose the information to third parties.
      </Text>
      <SubTitle>1. Visitors</SubTitle>
      <Text>
        Carissa Ng Counselling collects non-personally-identifying information
        that web browsers and servers typically make available, such as browser
        type, language preference, referring site, and the date and time of each
        visitor request. The purpose of collecting this information is to better
        understand how visitors use the Carissa Ng Counselling website.
      </Text>
      <SubTitle>2. Links to External Sites</SubTitle>
      <Text>
        Our Service may include links to external websites that are not managed
        by us. If you click on a third-party link, you will be taken to the
        respective third party’s website. We highly recommend that you review
        the Privacy Policy and terms of service of each site you visit.
      </Text>
      <SubTitle>3. Cookies</SubTitle>
      <Text>
        To enrich and perfect your online experience, Carissa Ng Counselling
        uses "Cookies", similar technologies and services provided by others to
        display personalized content, appropriate advertising and store your
        preferences on your computer. Our website does not use custom cookies
        managed by us to facilitate site functionality. However, third-party
        cookies, such as those from
        <a class="text-blue-500" href="https://www.psychologytoday.com/">
          Psychology Today
        </a>
        , may be applied during your visit. These third-party cookies are managed
        by the respective providers and are beyond our control. By continuing to
        browse our website without altering your cookie settings, you acknowledge
        and consent to the use of cookies by these third-party providers. For more
        information on how these cookies operate and how to manage them, please refer
        to the cookie policies of the relevant third-party sites.
      </Text>
      <SubTitle>4. Third-Party Data Collection and Analytics Policy </SubTitle>
      <Text
        >Our website may use third-party services, such as <a
          class="text-blue-500"
          href="https://vercel.com/docs/analytics"
        >
          Vercel Analytics
        </a> and <a
          class="text-blue-500"
          href="https://vercel.com/docs/speed-insights"
        >
          Vercel Speed Insights
        </a>. We use Vercel to collect data about how visitors interact with our
        website and its performance. This service helps us to monitor site and
        gain insights into user experience, and technical information about your
        device and browser. Vercel Analytics may collect information such as
        your IP address, browser type, device information, and other interaction
        details. This data helps us improve our website’s functionality and user
        experience. The information collected by Vercel Analytics is processed
        in accordance with their privacy policy. Please note that we do not
        control and are not responsible for the content, privacy policies, or
        practices of Vercel or any other third-party websites, products, or
        services. By using our website, you consent to the collection and
        processing of data by these third-party services. Please note that we do
        not control and are not responsible for the content, privacy policies,
        or practices of Vercel or any other third-party websites, products, or
        services. By using our website, you consent to the collection and
        processing of data by these third-party services.
      </Text>
      <SubTitle>5. Contact Us</SubTitle>
      <Text
        >Although most changes are likely to be minor, Carissa Ng Counselling
        may change its Privacy Policy from time to time, and in Carissa Ng
        Counselling's sole discretion. Carissa Ng Counselling encourages
        visitors to frequently check this page for any changes to its Privacy
        Policy. Your continued use of this site after any change in this Privacy
        Policy will constitute your acceptance of such change.</Text
      >
      <SubTitle>6. Contact Us</SubTitle>
      <Text>
        If you have any questions about this Privacy Policy, You can contact us:
      </Text>
      <ul>
        <li>By email: carissangcounselling@gmail.com</li>
      </ul>
    </section>
  </main>
</Layout>
