
---
const { banner } = Astro.props
---


<div class="relative w-full h-full min-h-[375px]">
    <img class="absolute inset-0 aspect-video h-full w-full object-cover object-center brightness-50" src={banner} alt="Peaceful" />
</div>

